*Database*
*creds*
*.log*
*__pycache__*
*.ftpconfig*
*.DS_Store*
*state*
*.terraform*
*fuchicorp-service-account*
*tfvars*
*backend.tf
*set-env
templates/test*
.vscode
*.cache*
*debug-config.cfg
*academy.db
*.idea*
deployments/selenium/target/*
deployments/selenium/.classpath
deployments/selenium/.factorypath
deployments/selenium/.project
deployments/selenium/.settings/*
deployments/docker/webplatform.db
deployments/selenium/selenium.iml
example.txt
*sqlite*
deployments/docker/kubeconfig
*test.sh*
*.scannerwork
workspace
.bin
celerybeat-schedule
