{% extends "base.html" %}
{% block content  %}


{% include "leftbar.html" %}

<style>
  .container {
    align-items: center;
    padding-left: 10px;
  }

  .main-content {
    height: calc(96% - 50px);
  }

  @media screen and (max-width: 749px) {
    body {
      height: auto;
      min-height: 100vh;
    }
  }

</style>

<link rel="stylesheet" href="/static/css/videos.css">

<div  class="page-container">
  <button class="toggle-menu" id="toggle-menu-btn" onclick="openNav()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="contents-inner">
    <div class="video-folder-title-box d-flex justify-content-between flex-wrap">
      <h2 class="mb-0 page-title">All Videos</h2>
      <div class="d-flex video-folder-search align-items-center">
        <form action="/videos/search/" class="d-flex justify-center align-items-center">
          <input type="search" name="name" class="form-control" placeholder="name contains">
          <button class="btn text-white bg-info">Search</button>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-start  video-box">
      <div class="video-category-box card mb-3">
        <div class="video-category-inner">
          <div class="card-title">
            <h5 class="font-weight-bold mb-0">Categories</h5>
          </div>
          <div class="video-category-contents">

            <div id="kt_tree_4" class="accordion">
            </div>
          </div>
        </div>
      </div>

      <div class="video-folders-contents card mb-3">
        <div class="video-folders-contents-inner">
          <div class="card-title d-flex justify-content-between align-items-center">
            <h5 class="font-weight-bold mb-0">Videos</h5>
            <button class="text-btn text-italic">
              Upload Date
            </button>
          </div>

          <div class="video-folders-list flex-wrap" id="video_box">
            {% for video in videos %}
            <div class="video-folder-item d-flex align-items-center mb-3" onclick="window.location.href='/videos/watch/{{ video.resource_key }}'" data-tooltip="{{ video.name }}">
              <div class="video-folder-item-mark d-flex align-items-center justify-content-center">
                <img src="/static/images/ploygon.png" alt="">
              </div>
              <p class="mb-0 video-folder-item-title "  id="__{{ video.resource_key }}">{{ video.name }}</p>
              <p class="mb-0 video-folder-item-date">{{ video.created_date }}</p>
            </div>
            {% endfor %}
            <script></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="load-screen">

  <div class="lds-spinner">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
  </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<script>

$jQ = $.noConflict(true);

var jsTree = null;

function showLoadScreen(bool) {
  document.querySelector('.load-screen').style.display = (bool ? 'flex' : 'none' );
}

function representGotData(response) {

  console.log(response);

  let data = [];

  let check = (arr) => {
    arr.find((e) => {
      e.icon = `fa fa-folder text-dark`;
      if (e.children.length > 0) {
        check(e.children);
      } else {
        e.text = `<span class='jsTree-link' onclick="videoLoad('${e.resource_key}')">${e.text}</span>`;
      }
    });
  };

  check(response);

  jsTree = $jQ("#kt_tree_4").jstree({
        "core": {
            "themes": {
                "responsive": false
            },
            "data": response,
        },
        "types": {
            "default": {
                "icon": "fa fa-folder text-dark"
            },
            "file": {
                "icon": "fa fa-folder text-dark"
            }
        },
        "plugins": ["contextmenu", "state", "types"]
    });

    // Making sure the users can click to expand the folders
    $jQ("#kt_tree_4").on("activate_node.jstree", function (e, data) {
      var tree = $jQ("#kt_tree_4").jstree(true); // Get the jsTree instance
      var node = tree.get_node(data.node); // Get the clicked node

      if (tree.is_closed(node)) {
          tree.open_node(node);
      } else {
          tree.close_node(node);
      }
    });


    // New event handler for activating (clicking) a node
    $jQ("#kt_tree_4").on("activate_node.jstree", function (e, data) {
        jsTree.toggle_node(data.node); // This will expand or collapse the node
    });

  showLoadScreen(false);
};

function videoLoad(resourceKey) {

  showLoadScreen(true);
  $jQ.ajax({
    type: "GET",
    url: `/videos/get-child-or-video/${resourceKey}`,
    dataType: "json",
    contentType: "application/json",
    success: (res) => {

      showLoadScreen(false);
      let videoBox = document.querySelector('#video_box');
      let html = '';
      let maxLen = 35;
      res.map((e) => {
        html += `<div class="video-folder-item d-flex align-items-center mb-3" onclick="window.location.href='/videos/watch/${e.resource_key}'" data-tooltip="${e.name}">
                  <div class="video-folder-item-mark d-flex align-items-center justify-content-center">
                    <img src="/static/images/ploygon.png" alt="">
                  </div>
                  <p class="mb-0 video-folder-item-title "  >${e.name}</p>
                  <p class="mb-0 video-folder-item-date">${e.created_date}</p>
                </div>`;
      });

      videoBox.innerHTML = html;

    },
    error: function (xhr, status, error) {
      showLoadScreen(false);
      console.log("ERROR: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
    }

  })

}
showLoadScreen(true);
  $jQ.ajax({
    type: "GET",
    url: "/videos/get-ajex-tree",
    dataType: "json",
    contentType: "application/json",
    success: representGotData,
    error: function (xhr, status, error) {
      showLoadScreen(false);
      console.log("ERROR: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
    }
});
</script>


{% endblock %}
