{% extends 'base.html' %}
{% load markdownify %}

{% block title %}
  Terms of Condition
{% endblock %}

{% block content %}
  <style>
    ::-webkit-scrollbar {
      display: none;
    }

    body {
      /* font-family: "Avenir Next", sans-serif; */
      background-color: #08827e;
      padding: 0;
      box-sizing: border-box;
      height: 1000px;
    }

    .main-content {
      height: auto;
      display: flex;
      justify-content: center;
      padding: 230px 50px 80px;
    }

    @media screen and (max-width: 749px) {
      .main-content {
        padding: 200px 15px 80px;
      }
    }
  </style>

  <div class="main-body">
    <div class="markdown-content">
      <div class="markdown-head">
        <h1>{{ content_data.long_name }}</h1>
        {% if content_data.created_date and content_data.updated_date %}
          <p>Created at: {{ content_data.created_date }}</p>
          <p>Last Update was: {{ content_data.updated_date }}</p>
        {% endif %}
      </div>

      <!-- Here actuall markdown content which contains all conditions -->
      {{ content_data.markdown_content|markdownify }}
    </div>
  </div>
{% endblock %}
