{% extends 'base.html' %}
{% block content %}
  {% load markdownify %}
  {% include 'mentor_leftbar.html' %}

  <div class="page-container">
    <button class="toggle-menu" id="toggle-menu-btn" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="contents-inner">
      <div class="dashboard-view-wrapper">
        <div class="d-flex justify-content-between flex-wrap mb-4 ml-3">
          <h5 class="page-title mb-2">User Info</h5>
        </div>
        <div class="dashboard-inner d-flex justify-content-between">
          <div class="dashboard-card card" style="width: 100%;">
            <div class="dashboard-card-inner">
              <div class="dashboard-card-title d-flex justify-content-between align-items-center">
                <div class="mb-0 font-weight-bold h4 text-base">
                  <i class="fa fa-user-circle-o text-info" aria-hidden="true"></i>
                  ksalrin | Kelly Salrin
                </div>
                <div class="w-20 d-flex">
                  <div>Status</div>
                  <div class="mx-3 custom-control custom-switch">
                    {% if user.status == 'active' %}
                      <input type="checkbox" class="custom-control-input" id="switch-1" onchange="change_status('{{ user.id }}')" checked />
                    {% else %}
                      <input type="checkbox" class="custom-control-input" id="switch-1" onchange="change_status('{{ user.id }}')" />
                    {% endif %}
                    <label class="custom-control-label" for="switch-1"></label>
                  </div>
                </div>
              </div>
              <div class="card-content">
                <form action="/mentors/manage_user/details?id={{ userid }}" method="post">
                  {% csrf_token %}
                  <!-- This table showing user details or edit -->
                  <table class="table table-borderless">
                    <caption>Table</caption>
                    <tbody>
                      <tr>
                        <th style="width: 20%;text-align: right; line-height:2">Username</th>
                        <td class="d-flex" style="width: 80%;min-width: 300px;">
                          <input type="text" class="form-control" placeholder="Username" id="username" disabled name="username" value="{{ user.user.username }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('username')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i>EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">First Name</th>
                        <td class="d-flex" style="width: 80%;min-width: 300px;">
                          <input type="text" class="form-control" placeholder="First Name" id="first_name" disabled name="first_name" value="{{ user.first_name }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('first_name')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">Last Name</th>
                        <td class="d-flex" style="width: 80%;min-width: 300px;">
                          <input type="text" class="form-control" placeholder="Last Name" id="last_name" disabled name="last_name" value="{{ user.last_name }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('last_name')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">Plan</th>
                        <td class="d-flex">
                          <div class="custom-select-m">
                            <select class="form-control" name="plan_id" id="plan_id" disabled>
                              {% for plan in plans %}
                                {% if user.plan_id == plan.id %}
                                  <option value="{{ plan.id }}" selected>{{ plan.name }}</option>
                                {% else %}
                                  <option value="{{ plan.id }}">{{ plan.name }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('plan_id')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i><div>EDIT</div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;vertical-align: middle; line-height:1">Created</th>
                        <td class="d-flex align-items-center p-3" style="line-height: 2;">{{ user.created_date }}</td>
                      </tr>
                      <tr>
                        <th style=" text-align: right; vertical-align: middle;line-height:1">Expire</th>
                        <td class="d-flex align-items-center p-3" style="line-height: 2;">{{ user.expire_date }}</td>
                      </tr>
                      <tr>
                        <th style="text-align: right;line-height:2">Email</th>
                        <td class="d-flex" style="width: 80%;;min-width: 300px;">
                          <input type="email" class="form-control" placeholder="Email" name="email" id="email" disabled value="{{ user.email }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('email')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">Address</th>
                        <td class="d-flex" style="width: 80%;;min-width: 300px;">
                          <input type="text" class="form-control" placeholder="Address" name="address" id="address" disabled value="{{ user.address }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('address')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">City</th>
                        <td class="d-flex" style="width: 65%;min-width: 200px;">
                          <input type="text" class="form-control" placeholder="City" name="city" id="city" disabled value="{{ user.city }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('city')">
                            <i class="fa fa-pencil text-info mx-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">State</th>
                        <td class="d-flex">
                          <input type="text" class="form-control" style="width:35% !important;min-width: 150px;" placeholder="State" disabled name="state" id="state" value="{{ user.state }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('state')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">Zip Code</th>
                        <td class="d-flex" style="width: 25%;min-width: 200px;">
                          <input type="text" class="form-control" placeholder="Code" name="zip_code" id="zip_code" disabled value="{{ user.zip_code }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('zip_code')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th style=" text-align: right;line-height:2">Phone</th>
                        <td class="d-flex">
                          <input type="text" class="form-control" style="width:35% !important;min-width: 150px;" name="phone" id="phone" disabled placeholder="Phone" value="{{ user.phone }}" />
                          <div class="d-flex align-items-center ml-4 cursor-pointer" onclick="edit('phone')">
                            <i class="fa fa-pencil text-info mr-1" aria-hidden="true"></i> EDIT
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-end mb-5">
                    <button type="submit" class="btn btn-info">SAVE</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function getCookie(name) {
      var cookieValue = null
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';')
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }

    function change_status(id) {
      var csrftoken = getCookie('csrftoken')
      console.log(csrftoken)
      fetch('/mentors/update_status_change', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
          userid: id,
          value: event.target.checked
        })
      })
        .then((response) => response.json())
        .then((data) => console.log(data))
        .catch((error) => console.error('Request failed:', error))
    }

    function edit(id) {
      document.getElementById(id).disabled = document.getElementById(id).disabled ? false : true
    }
  </script>
{% endblock %}
