{% extends 'base.html' %}
{% block content %}
  {% load markdownify %}
  {% include 'mentor_leftbar.html' %}

  <div class="page-container">
    <button class="toggle-menu" id="toggle-menu-btn" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="contents-inner">
      <div class="dashboard-view-wrapper">
        <h3 class="page-title mb-4">History</h3>
        <div class="dashboard-inner d-flex justify-content-between flex-wrap">
          <div class="dashboard-card card" style="width: 48%;">
            <div class="dashboard-card-inner">
              <div class="dashboard-card-title d-flex align-items-center">
                <h6 class="mb-0 font-weight-bold text-base">Deactived Users</h6>
              </div>
              <div class="card-content">
                <div class="class-box">{{ subscription.plan.schedule|markdownify|safe }}</div>
              </div>
            </div>
          </div>
          <div class="dashboard-card card" style="width: 48%;">
            <div class="dashboard-card-inner">
              <div class="dashboard-card-title d-flex justify-content-between align-items-center">
                <h6 class="mb-0 font-weight-bold text-base">
                  <i class="fa fa-user-times text-info" aria-hidden="true"></i>
                  Paypal Cancellations
                </h6><div>
                  <a href="/mentor_userinfo"><button class="text-btn text-info">View all</button></a>
                </div>
                <div class="text-btn font-italic">date</div>
              </div>
              <div class="card-content">
                {% for video in videos %}
                  <div class="dashboard-video-item d-flex align-items-center mb-2">
                    <div class="video-folder-item-mark d-flex align-items-center justify-content-center">
                      <img src="/static/images/ploygon.png" alt="" />
                    </div>
                    <a href="/videos/watch/{{ video.resource_key }}" class="mb-0 text-base" title="{{ video.name }}">{{ video.name }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="dashboard-card card">
            <div class="dashboard-card-inner">
              <div class="dashboard-card-title d-flex flex-wrap align-items-center justify-content-between">
                <h6 class="mb-0 font-weight-bold text-base mr-3">
                  <i class="fa fa-address-card-o text-info" aria-hidden="true"></i>
                  Mentor Changes History
                  <a href="/mentor_userinfo"><button class="text-btn text-info">View all</button></a>
                </h6>
                <div class="text-btn font-italic">date</div>
              </div>
              <div class="card-content">
                <p class="text-base mb-2">
                  <span class="font-weight-bold">My plan:</span> &nbsp;
                  {{ subscription.plan.name}}
                </p>
                <p class="mb-0 text-base mb-2">
                  <span class="font-weight-bold">First Name:</span> &nbsp;
                  {{ subscription.first_name }}
                </p>
                <p class="mb-0 text-base mb-2">
                  <span class="font-weight-bold">Last Name:</span> &nbsp;
                  {{ subscription.last_name }}
                </p>
                <p class="text-base mb-2">
                  <span class="font-weight-bold">Username:</span> &nbsp;
                  {{ subscription.user }}
                </p>
                <p class="mb-0 text-base mb-2">
                  <span class="font-weight-bold">Email:</span> &nbsp;
                  {{ subscription.email }}
                </p>
                <div class="d-flex align-items-center justify-content-between flex-wrap mt-3">
                  <p class="mb-0 text-base font-italic no-width">Username Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                  <div class="d-flex subscription-links align-items-center">
                    <a href="/accoutning/transactions/{{ request.user.username }}" class="text-info">All My Transactions</a>
                    <span class="text-base">|</span>
                    <a href="/#subscriptions" class="text-info">Upgrade</a>
                    <span class="text-base">|</span>
                    <a class="text-info" href="/accounting/cancel">Cancel my subscription</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="dashboard-card card">
            <div class="dashboard-card-inner">
              <div class="dashboard-card-title d-flex justify-content-between">
                <h6 class="mb-0 font-weight-bold text-base">
                  <i class="fa fa-user-circle text-info" aria-hidden="true"></i>
                  User Change History
                  <a href="/mentor_userinfo"><button class="text-btn text-info">View all</button></a>
                </h6>
                <div class="text-btn font-italic">Date</div>
              </div>
              <div class="card-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
