{% extends 'base.html' %}
{% block content %}
  {% load markdownify %}
  {% include 'mentor_leftbar.html' %}

  <div class="page-container">
    <button class="toggle-menu" id="toggle-menu-btn" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="contents-inner">
      <div class="dashboard-view-wrapper">
        <div class="d-flex justify-content-between">
          <h3 class="page-title mb-4">Access Control</h3>
          <div class="w-50 d-flex align-items-center">
            <input type="text" class="form-control form-control-sm" placeholder="name" id="usr" />
            <button type="button" class="mx-4 btn btn-info btn-sm d-block">SEARCH</button>
          </div>
        </div>
        <div class="dashboard-inner d-flex justify-content-between flex-wrap">
          <div class="dashboard-card card" style="width: 100%;">
            <div class="dashboard-card-inner">
              <div class="dashboard-card-title d-flex justify-content-between align-items-center">
                <h6 class="mb-0 font-weight-bold text-base">
                  <i class="fa fa-shield text-info" aria-hidden="true"></i>
                  User Access
                </h6>
                <div class="w-20 d-flex mx-5">
                  <input type="text" class="form-control form-control-sm mx-3" placeholder="Expiration Date" id="usr" />
                  <button class="text-btn d-flex align-items-center mx-2"><i class="fa fa-sort text-info mx-1" aria-hidden="true"></i> filter</button>
                </div>
              </div>
              <div class="card-content">
                <table class="table table-borderless">
                  <thead>
                    <tr style="font-style: italic;border-bottom: .5px solid rgb(77, 77, 77);">
                      <th style=" width: 5%;font-weight: 10 !important;">Status</th>
                      <th style="font-weight: 10 !important;">Username</th>
                      <th style="font-weight: 10 !important;">First Name</th>
                      <th style="font-weight: 10 !important;">Last Name</th>
                      <th style="font-weight: 10 !important;text-align: center;">Plan</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="d-flex justify-content-center align-items-center">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="switch3" name="example" checked/>
                          <label class="custom-control-label" for="switch3"></label>
                        </div>
                      </th>
                      <td>ksalrin</td>
                      <td>Kelly</td>
                      <td>Salrin</td>
                      <td   class="font-weight-bold text-center">Basic</td>
                    </tr>
                    <tr>
                      <th class="d-flex justify-content-center align-items-center">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="switch1" name="example"  />
                          <label class="custom-control-label" for="switch1"></label>
                        </div>
                      </th>
                      <td>fsadykov</td>
                      <td>fsadykov</td>
                      <td>Sadykov</td>
                      <td  class="font-weight-bold text-center">Contribution</td>
                    </tr>
                    <tr>
                      <th class="d-flex justify-content-center align-items-center">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="switch2" name="example" />
                          <label class="custom-control-label" for="switch2"></label>
                        </div>
                      </th>
                      <td>samarbekova</td>
                      <td>samarbekova</td>
                      <td>Samarbekova</td>
                      <td  class="font-weight-bold text-center">Pro</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
