{% extends 'base.html' %}
{% block content %}
  <link rel="stylesheet" href="/static/css/settings.css" type="text/css" />
  <body>
    {% include 'leftbar.html' %}
    <div id="right-content" class="page-container one-line">
      <div class="right-side">
        <div class="settings-form">
          {% if alert %}
            <h1 style="color:red;">Wrong credential, please try again!!</h1>
          {% else %}
            <h2 style="margin-bottom:30px;">Edit Password</h2>
            <form method="POST">
              <input type="hidden" name="settingsForm" value="EditProfileSubmit" />
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" name="EditProfileSubmit" value="Change Password" />
            </form>
          {% endif %}
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div id="message-box" class="modal-header">
              <span class="close">&times;</span>
              <h2>Message</h2>
            </div>
            <div class="modal-body">
              <h3 id="messageBox"></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
