{% extends "base.html" %}
{% block content  %}
<link rel="stylesheet" href="/static/css/contact.css" type="text/css">
<div class="contact-success">

  <div class="user">
    <header class="user_header">
        <h2 class="user_title" >FAQ</h2>
    </header>

    <h3>Thank you for contacting us!! We will send you update email please check your mailbox. If you have account with us please check <a class="highlight" href="/user-questions">My questions page</a><h3>

    <a href="/dashboard">return to the bashboard</a>

  </div>
</div>

{% include "footer.html" %}
{% endblock %}
